# mod_rewrite rule for OCSW pages

RewriteEngine on
RewriteBase /~username/ # This will get fixed by sed script
RewriteRule ^pages/(.*) pages.php?slug=$1

<Files *.inc>
  order allow, deny
  deny from all
</Files>
